
<html>
<head>
    <title>Start Menu</title>
</head>
<body>
    <h1>Start Menu</h1>
    @Html.ActionLink("New Game", "LoadLevel", "Game", new { levelid = 1, playerId = ViewData["PlayerId"] })
</body>
</html>