@using System.Security.Claims

@model TimeAdventure.Models.Level
@*@model IEnumerable<TimeAdventure.Models.Level>*@


<h3>@Html.DisplayFor(x=> x.LevelDescription)</h3>

@if (Model.LevelId == 6)
{
    <h1>Congratulations!</h1>
    @Html.ActionLink("You win! Return home", "Index")
}
else
{
    @Html.ActionLink("Begin Fight", "Fight", new { id = Model.LevelId })

}

